* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
    background-color: lightcyan;
    font-family: Courier New;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}